[submodule "vendor/symfony/src/Symfony/Component/ClassLoader"]
	path = vendor/symfony/src/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/symfony/src/Symfony/Component/EventDispatcher"]
	path = vendor/symfony/src/Symfony/Component/EventDispatcher
	url = https://github.com/symfony/EventDispatcher
[submodule "vendor/buzz"]
	path = vendor/buzz
	url = https://github.com/kriswallsmith/Buzz
